<h3>BOOK REGISTRATION</h3>
<form action="" method="post" (ngSubmit)="register()">


<label for="book_title"  >
  Title
  <input type="text" id="book_title" name="book_title" [(ngModel)]="book_title" >
</label>

<label for="book_author">
  Author
  <input type="text" id="book_author" name="book_author" [(ngModel)]="book_author">
</label>

<label for="book_price">
  Price
  <input type="number"  id="book_price" name="book_price" [(ngModel)]="book_price">
</label>

<input type="submit" value="Register">

</form>
